@keyframes glowing_green {
    0% {
        background-color: rgb(68, 179, 41);
    }
    25% {
        background-color: rgb(46, 134, 24);
    }
    50% {
        background-color: rgb(68, 179, 41);
    }
    75% {
        background-color: rgb(46, 134, 24);
    }
    100% {
        background-color: rgb(68, 179, 41);
    }
  }
  .winner {
    animation: glowing_green 3000ms infinite;
  }

  @keyframes glowing_gold {
    0% {
        background-color: rgb(255, 225, 55);
    }
    25% {
        background-color: rgb(255, 217, 0);
    }
    50% {
        background-color: rgb(255, 225, 55);
    }
    75% {
        background-color: rgb(255, 217, 0);
    }
    100% {
        background-color: rgb(255, 225, 55);
    }
  }

  .winner_gold{
    animation: glowing_gold 3000ms infinite;
  } 